<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ContribuyenteController</servlet-name>
        <servlet-class>com.seguimiento.controlador.ContribuyenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>com.seguimiento.controlador.UsuariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrediosController</servlet-name>
        <servlet-class>com.seguimiento.controlador.PrediosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesController</servlet-name>
        <servlet-class>com.seguimiento.controlador.RolesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContribuyenteController</servlet-name>
        <url-pattern>/ControladorContribuyente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/ControladorUsuarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrediosController</servlet-name>
        <url-pattern>/ControladorPredios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesController</servlet-name>
        <url-pattern>/ControladorRol.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
